img {
  width: 100vw;
  height: auto;
}

.header {
  max-width: 100%;

  background-color: rgba(255, 255, 122, 0.678);

  /* color: black;
  text-align: center; */
  /* padding: 20px; 
    margin-bottom: 20px;*/
}

.footer {
  bottom: 0;
  max-width: 100%;
  background-color: rgba(255, 255, 122, 0.678);
  color: black;
  text-align: center;
  padding: 10px;
}